<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/styles/theme.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <title>Akonto</title>
</head>
<body>
<div class="container">
    <header class="d-flex flex-column align-items-center justify-content-md-between flex-md-row">
        <div class="logo_wrapper">
            <a th:href="@{/}"><img th:src="@{/images/logo.jpeg}"></a>
        </div>
        <nav class="navbar navbar-expand-md">
            <ul class="navbar-nav d-flex flex-md-row flex-column align-items-center">
                <li class="nav-item"><a class="nav-link btn-link btn-group" th:href="@{/profile}">Profile</a></li>
                <li class="nav-item"><a class="nav-link btn-link btn-group" th:href="@{/bills}">Bills</a></li>
                <li class="nav-item"><a class="nav-link btn-link btn-group" href="#">Transactions</a></li>
                <li class="nav-item">
                    <form method="post" th:action="@{/logout}">
                        <button class="nav-link btn btn-link btn-group" href="#">Log out</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="d-flex justify-content-between">
            <p>Bills:</p>
            <p>Debts:</p>
        </section>
        <section>
            <table>
                <tr>
                    <table class="table table-primary">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        </tbody>
                    </table>
                </tr>
            </table>
        </section>
    </main>
    <footer class="d-flex justify-content-around">
        <a href="#">Instagram</a>
        <div><p>© 2021 Akonto</p></div>
        <a href="#">Facebook</a>
    </footer>
</div>
</body>
</html>