<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/styles/bootstrap-theme.css}">
    <link rel="stylesheet" th:href="@{/styles/custom.css}">
    <title>Akonto</title>
</head>
<body>
    <main class="container">
        <div class="row" id="home_content_wrapper">
            <section class="col-sm-6">
                <div id="logo_wrapper">
                    <img th:src="@{/images/logo.jpeg}" id="logo">
                </div>
            </section>
            <section class="col-sm-6">
                <div id="login_form_wrapper">
                    <form>
                        <input type="text" placeholder="email"><br>
                        <input type="password" placeholder="password"><br>
                        <button type="submit" class="btn btn-link">Log in</button>
                    </form>
                </div>
            </section>
        </div>
    </main>
</body>
</html>