<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <title>Akonto</title>
</head>
<body>
    <main class="container">
        <div class="d-flex flex-wrap-reverse align-items-center justify-content-center">
            <section class="col-lg-6">
                <div id="logo_wrapper">
                    <img th:src="@{/images/logo.jpeg}" id="logo">
                </div>
            </section>
            <section class="col-lg-6">
                <div id="login_form_wrapper">
                    <form class="d-flex flex-column justify-content-center" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email">
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                            <button type="submit" class="btn btn-link">Log in</button>
                            <a class="btn btn-link" href="/register">Register</a>
                    </form>
                </div>
            </section>
        </div>
    </main>
</body>
</html>