<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/styles/theme.css}">
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <title>Akonto</title>
</head>
<body>
    <div class="container d-flex flex-column">
        <header class="d-flex justify-content-center">
            <div class="logo_wrapper">
                <img th:src="@{/images/logo.jpeg}">
            </div>
        </header>
        <section class="d-flex justify-content-center">
            <form method="post" th:action="@{/register}" th:object="${user}">
                <div class="d-flex flex-column align-items-end justify-content-center" id="form_span_wrapper">
                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                    <span th:if="${#fields.hasErrors('hq')}" th:errors="*{hq}"></span>
                    <span th:if="${#fields.hasErrors('bankAccount.iban')}" th:errors="*{bankAccount.iban}"></span>
                    <span th:if="${#fields.hasErrors('bankAccount.balance')}" th:errors="*{bankAccount.balance}"></span><br>
                </div>
                <div class="d-flex flex-column align-items-end">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" th:field="*{username}" placeholder="Userame">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" th:field="*{email}" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" th:field="*{password}" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Headquarters:</label>
                        <input type="text" th:field="*{hq}" placeholder="City">
                    </div>
                    <div class="form-group">
                        <label>IBAN:</label>
                        <input type="text" th:field="*{bankAccount.iban}" placeholder="IBAN">
                    </div>
                    <div class="form-group">
                        <label>Account balance:</label>
                        <input type="text" th:field="*{bankAccount.balance}" placeholder="use decimal point">
                    </div>
                    <div class="form-group">
                        <label>Founded:</label>
                        <input type="date" th:field="*{founded}">
                    </div>
                </div>
                <div class="form-group d-flex flex-column">
                    <input type="submit" value="Register" class="btn btn-primary">
                    <a class="btn btn-link" href="/">Back to home</a>
                </div>
            </form>
        </section>
        <footer class="d-flex justify-content-around">
            <a href="#">Instagram</a>
            <div><p>© 2021 Akonto</p></div>
            <a href="#">Facebook</a>
        </footer>
    </div>
</body>
</html>