div {
    border: none;
}

img {
    width:100%;
}

body {
    background-color: lightgray;
}

input {
    border-radius: 15px;
    border: 1px solid black;
    margin:5px;
    padding: 10px;
    width:300px;
}

form > button {
    color:red;

}
#login_form_wrapper {
    padding:10px;
    margin-top:100px;
}

#logo_wrapper {
    width:auto;
    margin:auto;
}

#logo {
    border-radius: 50px;
}

#home_content_wrapper {
    padding-top: 50px;
}