div {
    border: none;
}

img {
    width:100%;
}

body {
    background-color: lightgray;
}

section {
    padding: 5px;
}

input {
    margin:10px;
}

main > section {
    background-color: white;
}

header > div > img {
    width:200px;
}

footer {
    background-color: white;
    padding:20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer > a, a:active, p {
    color: gray;
}

footer > a:hover {
    color:black;
}

#login_form_wrapper {
    padding:10px;
    width:100%;
}

#logo_wrapper {
    padding:20px;
}

#logo {
    border-radius: 50px;
}
